@import "mixins";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  margin-left: 10px;

  &__messages {
    padding: 10px 20px;
    overflow-y: auto;

    .scrollbar {
      background-color: #f58234;
    }

  }

  &__hints-container {
    padding-top: 10px;
    overflow-y: auto;
    max-height: 200px;
    height: max-content;
  }

  &__message-form {
    display: flex;
    align-items: flex-end;
    padding: 10px 20px 0;
    border-top: 1px solid @border-color;
  }

  &__message-field {
    width: 100%;
    margin-right: 10px;
    padding: 10px 15px;
  }

  &__send-btn {
    font-family: @mainFont;
    height: 30px;
    width: 120px;
    text-align: center;
    background: #00b956;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    padding-bottom: 3px;
    font-size: 14px;
    border: none;
  }
}