@import "mixins";

.chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 0;
  background: #fff;
  margin-left: 10px;

  &__messages {
    padding: 10px 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

    &::-webkit-scrollbar { width: 7px; height: 3px; padding-right: 2px}
    &::-webkit-scrollbar-button {  background-color: #fff; }
    &::-webkit-scrollbar-track {  background-color: #999;}
    &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    &::-webkit-scrollbar-thumb { height: 35px; background-color: #00b956; border-radius: 7px;}
    &::-webkit-scrollbar-corner { background-color: #999;}
    &::-webkit-resizer { background-color: #666;}
  }

  &__hints-container {
    padding-top: 10px;
    overflow-y: auto;
    max-height: 200px;
    height: max-content;
    overflow-y: auto;

    &::-webkit-scrollbar { width: 7px; height: 3px; padding-right: 2px}
    &::-webkit-scrollbar-button {  background-color: #fff; }
    &::-webkit-scrollbar-track {  background-color: #999;}
    &::-webkit-scrollbar-track-piece { background-color: #ffffff;}
    &::-webkit-scrollbar-thumb { height: 35px; background-color: #00b956; border-radius: 7px;}
    &::-webkit-scrollbar-corner { background-color: #999;}
    &::-webkit-resizer { background-color: #666;}
  }

  &__message-form {
    display: flex;
    align-items: flex-end;
    padding: 10px 20px 0;
    border-top: 1px solid @border-color;
  }

  &__message-field {
    width: 100%;
    margin-right: 10px;
    padding: 10px 15px;
  }

  &__send-btn {
    font-family: @mainFont;
    height: 30px;
    width: 120px;
    text-align: center;
    background: #00b956;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    padding-bottom: 3px;
    font-size: 14px;
    border: none;
  }
}